* {
    margin: 0;
    padding: 0;
}

body{
    font-family: "Raleway", Helvetica, Arial, sans-serif;
}

/**header start**/

.main__nav {
display: flex;
justify-content: space-evenly;
list-style-type: none;
background: #000;
}

.main__nav li {
    margin-top: 20px;
    display: block;
    padding: 12px 42px 14px;
    color: #d92027;
    background: transparent;
    line-height: 1.2;
    letter-spacing: 0.2em;
    font-weight: 700;
    font-size: 14px;
}

.arrow__down {
font-size: 14px;
color: white;
}

.forside__box {
    border: 1px solid #A7A1A1;
}

.hold__navigation {
    position: absolute;
    display: none;
    right: 0;
    top: 20px;
    background-color: white;
    list-style-type: none;
    padding-right: 25px;
    padding-top: 45px;
    padding-left: 35px;
    padding-bottom: 25px;
}

/**header end**/

/**front page top start**/

.Section_wrapper {
    display: flex;
    justify-content: center;
    background: #000;
}

.connected__wrapper {
  padding-top: 400px;
}

.træning__for--alle {
    display: flex;
    justify-content: center;
    background: black;
    color: white;
    font-size: 25px;
    line-height: 0.8;
    letter-spacing: .26em;
}

.Kr__pr--md {
    color: #d92027;
    font-size: 25px;
}

h4 {
    display: inline-block;
    letter-spacing: 0,3em;
    font-size: 25px;
    color: white;
    margin-left: 450px;
    margin-top: 50px;
}

.Træning__Section--price {
    background-color: #000;
    padding-bottom: 60px;
}

section p {
    color: #d92027;
    display: flex;
    justify-content: center;
    margin-right: 20px;
    margin-top: 15px;
}

.logo__img {
    margin-top: 20px;
}

.gratis__p {
    display: inline-block;
    letter-spacing: 0,3em;
    color: white;
    font-size: 20px;
    margin-left: 550px;
}
.gratis__price {
    color: #d92027;
    font-size: 30px;
}

.p__spar {
    display: inline-block;
    color: white;
    margin-left: 650px;
}

.spar__price {
    color: #d92027;
}

.btn__wrapper {
    margin-right: 20px;
}

.btn__btn--block {
    position: relative;
    width: auto;
    display: flex;
    justify-content: center;
    margin-top: 20px;   
    border: 1px solid gray;
    padding: 15px 32px;
    width: 150px;
    margin-left: 600px;
    text-decoration: none;
    background: transparent;
    letter-spacing: 0,2em;
    

}

.btn__font {
    color: #d92027;
}

.velkommen__text {
    display: flex;
    justify-content: center;
    line-height: 1.16667;
    font-size: 50px;
    letter-spacing: 0.2rem;
    margin-top: 20px;
}

.grid__container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    color: #A7A1A1;
}
.vel__text--p {
    color: #A7A1A1;
    margin: 0 0 14;
    line-height: 1,8rem;
    margin-left: 30px;
}

.text__gray {
    color: #878787;
    font-size: 20px;
}
.text__gray2 {
    color: #878787;
    font-size: 25px;
}
.fa-map-marker-alt:before {
    color: #000;
    margin-right: 20px;

    
}
.fa-phone:before {
    color: #000;
}

.fa-envelope:before {
    color: #000;

}

.text__primary {
    color: #d92027;
    font-size: 20px;
}

.flex__container {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 20px;
    margin-right: 40px;
}