* {
    margin: 0;
    padding: 0;
}

body{
    font-family: "Raleway", Helvetica, Arial, sans-serif;
}

/**header start**/

.main__nav {
display: flex;
justify-content: space-evenly;
list-style-type: none;
background: #000;
}

.main__nav li {
    display: block;
    padding: 12px 42px 14px;
    color: #d92027;
    background: transparent;
    line-height: 1.2;
    letter-spacing: 0.2em;
    font-weight: 700;
    font-size: 14px;
}

.arrow__down {
font-size: 14px;
color: white;
}

/**header end**/

/**front page top start**/

.Section_wrapper {
    display: flex;
    justify-content: center;
    background: #000;
}